ul {
  /* display: flex;
  justify-content: space-around; */
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
}

li {
  list-style-type: none;
}

nav {
  background-color: rgb(203, 162, 236);
  height: 50px;
}

ul:nth-child(even) {
  background-color: gray;
}

button {
  box-sizing: border-box;
  background-color: grey;
  border-radius: 5px;
  color: white;
  border-style: none;
}

button:hover {
  color: grey;
  background-color: white;
  //border: 1px solid grey;
}
